@font-face {
  font-family: VT323;
  src: url(./fonts/VT323-Regular.ttf);
}
@keyframes backgroundBlip {
  0% {
    background-color: var(--main);
  }
  50% {
    background-color: var(--main);
  }
  51% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--secondary);
  }
}
@keyframes fontBlip {
  0% {
    color: var(--secondary);
    font-weight: bold;
  }
  50% {
    color: var(--secondary);
    font-weight: bold;
  }
  51% {
    color: var(--main);
    font-weight: bold;
  }
  100% {
    color: var(--main);
    font-weight: bold;
  }
}
:root {
  --main: rgb(0, 15, 6);
  --secondary: rgb(60, 214, 130);
}
/*------------------------------------------*/
body {
  margin: 0;
  height: 100%;
  background-color: var(--main);
  display: grid;
  grid-template-rows: 93vh 7vh;
  overflow-y: hidden;
}

h1 {
  color: var(--secondary);
  font-family: VT323;
  font-size: 45px;
}
h2 {
  color: var(--secondary);
  font-family: VT323;
  font-size: 30px;
}
p {
  color: var(--secondary);
  font-family: VT323;
  font-size: 25px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul li {
  color: var(--secondary);
  list-style-type: none;
}
/*------------------------------------------*/
.nav {
  grid-row: 2;
  display: flex;
  border-top: 3px solid var(--secondary);
  position: relative;
}
.nav a {
  margin-left: 30px;
  height: 100%;
  width: 100px;
}
.nav p {
  margin: 0; /*this whole dance and twist was made so the p elemnt would ocuppy the whole height*/
  padding: 2vh 0px 0px 0px; /*of the a element*/
  height: 100%;
}
.nav a:hover {
  background-color: var(--secondary);
  animation-name: backgroundBlip;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.nav a p:hover {
  animation-name: fontBlip;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}


.nav::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    transparent,
    transparent 2px,
    var(--main) 4px,
    var(--main) 4px
  );
  opacity: 0.7;
  pointer-events: none;
}
/*------------------------------------------*/
.section {
  margin-left: 12vw !important;
}
.main {
  overflow-y: scroll;
  grid-row: 1;
  height: 100%;
  position: relative;
}
.main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 300vh; /* VERY IMPORTANT !!!!! For the overlay to cover the whole page be sure to sum all the length of the .main grid */
  width: 100%;
  background: repeating-linear-gradient(
    transparent,
    transparent 2px,
    var(--main) 4px,
    var(--main) 4px
  );
  opacity: 0.7;
  pointer-events: none;
}
/*------------------------------------------*/
.about {
  /* position: relative;*/
  height: 93vh;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 15vw 300px 50px auto 15vw; /*margin, photo-width, space, text-div-width, margin */
  grid-template-rows: 250px 200px auto; /*title-div-height, rest-of-page-section-height */
}
.aboutTitle {
  grid-row: 1;
  grid-column: 1 / span 5;
  height: 75%;
  background-color: var(--secondary);
  text-align: center;
}
.aboutTitle h1 {
  color: var(--main);
}
.aboutPhoto {
  grid-row: 2;
  grid-column: 2;
}
.aboutPhoto img {
  width: 98%;
  border: 3px solid var(--secondary);
}
.aboutDesc {
  grid-row: 2;
  grid-column: 4;
  height: 100%;
}
.aboutDesc p {
  margin: 0px;
  position: relative;
}

.aboutContacts {
  margin-top: 20px;
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: 45px 45px 45px 45px auto;
}
.aboutContacts img {
  width: 100%;
}
.aboutContacts p {
  color: black;
  font-weight: bold;
  grid-column: 5;
  margin: auto 0px auto 0px;
  padding-left: 15px;
}
/*------------------------------------------*/
.skills {
  height: 93vh;
  padding-top: 30px;
}
.skillsTable {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: 1fr 1fr;
  border: 4px solid var(--secondary);
  width: 350px;
  height: 250px;
}
.skillsTable h2 {
  color: var(--main);
}
.skillsTable p {
  color: var(--secondary);
}
.skillsTableTitle {
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: center;
  background-color: var(--secondary);
}
.skillsCollumnA {
  grid-row: 2;
  grid-column: 1;
}
.skillsCollumnA p {
  text-align: center;
}
.skillsCollumnB {
  grid-row: 2;
  grid-column: 2;
}
.skillsCollumnB p {
  text-align: center;
}
.skillsMisc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 600px;
  height: 100px;
}
/*------------------------------------------*/
.projects {
  height: auto;
  min-height: 93vh;
  display: grid;
  grid-template-rows: 60px 1fr; /*tile-height, card-height, card-height. Just add rows as needed*/
  grid-template-columns: 15vw 1fr 5px 1fr 15vw; /*margin, card-width, space, card-width, margin*/
}
.projects h2 {
  grid-row: 1;
  grid-column: 1 / span 2;
}
/*----------------------------------------------------------*/
/*template for project display*/
.cardTemplate {
  display: grid;
  grid-template-rows: 250px auto;
  width: 100%;
}
.thumbnail {
  grid-row: 1;
}
.thumbnail img {
  width: 100%;
  border: 3px solid var(--secondary);
}
.description {
  grid-row: 2;
}
.description ul li {
  border-left: 1px solid var(--secondary);
  /*be sure to add 2 underscores (__) to mimic directories*/
}
/*----------------------------------------------------------*/
.projectA {
  /*position within projects grid*/
  grid-row: 2;
  grid-column: 2;
}
